@use '../custom' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

.nav-bg{
    background: rgba(255,255,255,0.7) !important;
}

li{
    padding-left: 0.7rem;
    font-size: 1.125rem;
    a{
        color:$plava-svetlija !important;        
    }
}
.navbar-brand{
    color: $plava-tamnija !important;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
// Navigacija za obaveštenja

.obavestenje{
    margin-top: 10px;
    a{
        position:relative !important;  
    }
    .obavestenje-img{        
        width: 100%;
        position:relative; 
        transition: 0.3s;          
    }      
    p{
        position: absolute !important;
        display: block;
        background: transparent;
        top: 25%;
        left:26%;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        transition: 0.3s;        
    }
    @media screen and (max-width: 768px) {
        p {
          font-size: 1rem;
          font-weight: 300;
          top: 75%;
        }
      }

}
.btn-sidebar{
    border: none;
    position: absolute;
    background: none;    
    width: 100%;
    height: 50px;
    z-index: 2;
    align-items: center;    
}
.btn-sidebar:hover p{
    color: #123;    
    transform: scale(1.05);
    
}
.modal-body{
    img{
        width: 100%;
    }
} 