@use '../custom' as *;

#projekti{
    padding-top: 2rem;    
    background: #fff !important;
}
.project{
margin-top: 1rem;
background-color: #fff;

}

.project-body{
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
    margin: 1rem;
    box-shadow: .5rem .5rem 10px 1px rgba(0,0,0,.2);
    
}
.project-img{
    width: 400px;
    max-height: 450px;
    padding:  1rem;
    
}
.project-naslov{
    padding-top: 2rem;
    margin-left: 1.5rem ;
}
.project-naslov a{
    color: #3a46ce;
    font-size: 1.75rem;
    text-decoration: none;
}
.project-text{
    font-size: 1.2rem;
    color:rgba(0,0,0,.7);
    padding: 0 5rem;
}