@use '../custom' as *;

.sajt-nastavnika{
    margin-top: 1rem; 
    display: block;
    
}
a{
    text-decoration: none !important;            
    h5{   
    font-size: 1rem !important;
    
    }
}

