@use '../custom' as *;

.glavna-vest{
    margin-left: 2rem;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);   
    height:100%; 
}
.vest{
    background: #fff;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    .vest-datum{
        font-weight: 300;
    }
}
.vesti-ostale{
    height: 100%;
    
}
.vest-text{
    flex-direction: row;
    .vest-img{
        width: 150px;
        height: 100%;
        padding-bottom: 1rem;       
    }
    p{
        padding-left: 1rem;
    }
}